body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.page-header {
}
.header-nav {
}
.nav-tip {
}
.nav-link {
}
.contacts {
}
.con-tip {
}
.con-link {
}
